In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [4]:
train.head()

,ID,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Af04604195,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
1,Af04794049,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
2,Af07527693,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
3,Af11267444,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
4,Af12688448,Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9

In [5]:
test.head()

,ID,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Sy75324907,Syrian Arab Republic,2006,Developing,123.0,8,0.97,122.652333,83.0,517,...,83.0,3.78,8.0,0.1,1762.246170,18914977.0,6.4,6.3,0.636,11.4
1,Cr10129453,Croatia,2006,Developed,113.0,0,11.83,1555.651986,NaN,1,...,96.0,6.95,96.0,0.1,11363.418450,444.0,1.8,1.8,0.783,13.9
2,Mo67025598,Montenegro,2007,Developing,125.0,0,4.98,678.518894,9.0,0,...,92.0,6.74,92.0,0.1,5957.145693,615875.0,2.1,2.2,0.762,13.6
3,Ba38246112,Bahrain,2014,Developing,7.0,0,1.57,367.255674,98.0,46,...,98.0,4.98,98.0,0.1,24983.379200,NaN,6.1,6.0,0.820,14.5
4,Ke57254548,Kenya,2000,Developing,428.0,77,1.51,0.681686,NaN,21002,...,8.0,4.68,82.0,18.1,43.979713,3145483.0,9.2,9.1,0.448,8.4

In [6]:
train.tail()

,ID,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2345,Zi60983885,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2346,Zi76730588,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2347,Zi85678827,Zimbabwe,2010,Developing,52.4,527.0,29,5.21,53.308581,9.0,...,89.0,5.37,89.0,15.7,713.635620,1486317.0,7.1,7.0,0.436,10.0
2348,Zi92845788,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2349,Zi97131433,Zimbabwe,2012,Developing,56.6,429.0,26,6.09,92.602336,97.0,...,95.0,6.69,95.0,8.8,955.648466,1471826.0,6.5,6.4,0.464,9.8

In [7]:
test.tail()

,ID,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
583,Er45192497,Eritrea,2006,Developing,336.0,7,0.97,10.602698,94.0,128,...,94.0,3.30,94.0,1.4,297.828588,466648.0,9.3,9.3,0.405,5.3
584,Ku93355698,Kuwait,2004,Developing,91.0,0,0.02,1731.073528,94.0,23,...,98.0,2.76,98.0,0.1,26921.827800,NaN,3.2,3.0,0.791,14.4
585,Ga05928248,Gambia,2015,Developing,262.0,3,NaN,0.000000,97.0,71,...,96.0,NaN,97.0,1.7,NaN,NaN,7.3,7.2,0.450,8.9
586,Tr40253994,Trinidad and Tobago,2006,Developing,188.0,0,6.35,103.371069,89.0,0,...,89.0,4.49,92.0,0.6,1495.963370,133144.0,6.2,6.6,0.751,12.3
587,Se77041453,Serbia,2008,Developing,132.0,1,9.54,96.332379,93.0,2,...,95.0,1.50,95.0,0.1,671.773913,735222.0,2.3,2.4,0.749,13.5

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2350 entries, 0 to 2349
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               2350 non-null   object
 1   Country                          2350 non-null   object
 2   Year                             2350 non-null   int64
 3   Status                           2350 non-null   object
 4   Life expectancy                  2350 non-null   float64
 5   Adult Mortality                  2342 non-null   float64
 6   infant deaths                    2350 non-null   int64
 7   Alcohol                          2192 non-null   float64
 8   percentage expenditure           2350 non-null   float64
 9   Hepatitis B                      1911 non-null   float64
 10  Measles                          2350 non-null   int64
 11  BMI                              2323 non-null   float64
 12  under-five deaths                2350 non-null   int64
 13  Polio                            2336 non-null   float64
 14  Total expenditure                2165 non-null   float64
 15  Diphtheria                       2336 non-null   float64
 16  HIV/AIDS                         2350 non-null   float64
 17  GDP                              2005 non-null   float64
 18  Population                       1834 non-null   float64
 19  thinness  1-19 years             2323 non-null   float64
 20  thinness 5-9 years               2323 non-null   float64
 21  Income composition of resources  2219 non-null   float64
 22  Schooling                        2221 non-null   float64
dtypes: float64(16), int64(4), object(3)
memory usage: 422.4+ KB

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               588 non-null    object
 1   Country                          588 non-null    object
 2   Year                             588 non-null    int64
 3   Status                           588 non-null    object
 4   Adult Mortality                  586 non-null    float64
 5   infant deaths                    588 non-null    int64
 6   Alcohol                          552 non-null    float64
 7   percentage expenditure           588 non-null    float64
 8   Hepatitis B                      474 non-null    float64
 9   Measles                          588 non-null    int64
 10  BMI                              581 non-null    float64
 11  under-five deaths                588 non-null    int64
 12  Polio                            583 non-null    float64
 13  Total expenditure                547 non-null    float64
 14  Diphtheria                       583 non-null    float64
 15  HIV/AIDS                         588 non-null    float64
 16  GDP                              485 non-null    float64
 17  Population                       452 non-null    float64
 18  thinness  1-19 years             581 non-null    float64
 19  thinness 5-9 years               581 non-null    float64
 20  Income composition of resources  552 non-null    float64
 21  Schooling                        554 non-null    float64
dtypes: float64(15), int64(4), object(3)
memory usage: 101.2+ KB

In [10]:
train.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2350.000000,2350.000000,2342.000000,2350.000000,2192.000000,2350.000000,1911.000000,2350.000000,2323.000000,2350.000000,2336.000000,2165.000000,2336.000000,2350.000000,2005.000000,1.834000e+03,2323.000000,2323.000000,2219.000000,2221.000000
mean,2007.537447,69.275404,165.824082,28.793191,4.593271,720.521353,81.141811,2318.703404,38.556780,40.094468,82.693921,5.936185,82.376712,1.787064,7384.623471,1.192254e+07,4.800215,4.838269,0.631084,12.028140
std,4.611986,9.573065,125.273598,111.836006,4.034828,1952.616462,24.821252,11589.618520,20.073857,152.939537,23.363327,2.509597,23.793441,5.266324,14189.942344,5.480387e+07,4.403585,4.482891,0.207573,3.346762
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.400000,0.000000,3.000000,0.650000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.300000,74.000000,0.000000,0.850000,5.491010,77.000000,0.000000,19.400000,0.000000,78.000000,4.260000,78.000000,0.100000,462.517913,1.943552e+05,1.600000,1.500000,0.497000,10.100000
50%,2008.000000,72.200000,144.000000,3.000000,3.760000,65.611455,92.000000,16.000000,43.900000,4.000000,93.000000,5.730000,93.000000,0.100000,1774.929100,1.416448e+06,3.300000,3.300000,0.682000,12.400000
75%,2012.000000,75.700000,227.750000,20.750000,7.622500,441.534144,97.000000,356.250000,56.200000,26.000000,97.000000,7.500000,97.000000,0.800000,5859.915622,7.442611e+06,7.100000,7.100000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.310000,19099.045060,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.240000,99.000000,50.600000,115761.577000,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [11]:
test.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,588.000000,586.000000,588.000000,552.000000,588.000000,474.000000,588.000000,581.000000,588.000000,583.000000,547.000000,583.000000,588.000000,485.000000,4.520000e+02,581.00000,581.000000,552.000000,554.000000
mean,2007.443878,160.689420,36.341837,4.640942,809.110761,80.128692,2822.804422,37.379518,49.794218,81.974271,5.946124,82.113208,1.562415,7890.504183,1.612449e+07,4.99759,4.998451,0.613348,11.851083
std,4.624420,120.306158,139.587066,4.124987,2123.408651,26.060068,10964.956359,19.913699,187.414890,23.697065,2.455425,23.426808,4.240632,14604.993842,8.147891e+07,4.48635,4.613042,0.223427,3.406595
min,2000.000000,1.000000,0.000000,0.010000,0.000000,2.000000,0.000000,1.000000,0.000000,3.000000,0.370000,3.000000,0.100000,3.685949,3.600000e+01,0.10000,0.100000,0.000000,0.000000
25%,2003.000000,69.000000,0.000000,0.950000,2.717652,76.000000,0.000000,18.800000,0.000000,77.000000,4.290000,77.000000,0.100000,465.119887,2.231182e+05,1.60000,1.500000,0.483750,9.900000
50%,2007.000000,141.000000,3.000000,3.725000,62.695106,92.000000,17.500000,41.400000,4.000000,93.000000,5.800000,93.000000,0.100000,1741.142552,1.323676e+06,3.50000,3.500000,0.656500,12.100000
75%,2011.000000,227.750000,26.250000,7.977500,432.321465,97.000000,372.750000,56.000000,36.250000,97.000000,7.465000,97.000000,0.800000,6256.559260,7.245294e+06,7.50000,7.400000,0.778500,14.175000
max,2015.000000,715.000000,1800.000000,17.870000,19479.911610,99.000000,131441.000000,79.300000,2400.000000,99.000000,17.600000,99.000000,43.500000,119172.741800,1.161978e+09,27.50000,28.500000,0.942000,20.600000

In [12]:
for i,j in zip(train.isna().sum(), train.columns):
    if i!=0:
        print(f"{j} column has {i} missinng values")

Adult Mortality column has 8 missinng values
Alcohol column has 158 missinng values
Hepatitis B column has 439 missinng values
BMI column has 27 missinng values
Polio column has 14 missinng values
Total expenditure column has 185 missinng values
Diphtheria column has 14 missinng values
GDP column has 345 missinng values
Population column has 516 missinng values
thinness  1-19 years column has 27 missinng values
thinness 5-9 years column has 27 missinng values
Income composition of resources column has 131 missinng values
Schooling column has 129 missinng values

In [13]:
for i,j in zip(test.isna().sum(), test.columns):
    if i!=0:
        print(f" {j} column has {i} missinng values")

 Adult Mortality column has 2 missinng values
 Alcohol column has 36 missinng values
 Hepatitis B column has 114 missinng values
 BMI column has 7 missinng values
 Polio column has 5 missinng values
 Total expenditure column has 41 missinng values
 Diphtheria column has 5 missinng values
 GDP column has 103 missinng values
 Population column has 136 missinng values
 thinness  1-19 years column has 7 missinng values
 thinness 5-9 years column has 7 missinng values
 Income composition of resources column has 36 missinng values
 Schooling column has 34 missinng values

In [16]:
print(train.isnull().mean() * 100)

ID                                  0.000000
Country                             0.000000
Year                                0.000000
Status                              0.000000
Life expectancy                     0.000000
Adult Mortality                     0.340426
infant deaths                       0.000000
Alcohol                             6.723404
percentage expenditure              0.000000
Hepatitis B                        18.680851
Measles                             0.000000
BMI                                 1.148936
under-five deaths                   0.000000
Polio                               0.595745
Total expenditure                   7.872340
Diphtheria                          0.595745
HIV/AIDS                            0.000000
GDP                                14.680851
Population                         21.957447
thinness  1-19 years                1.148936
thinness 5-9 years                  1.148936
Income composition of resources     5.574468
Schooling                           5.489362
dtype: float64

In [17]:
print(test.isnull().mean() * 100)

ID                                  0.000000
Country                             0.000000
Year                                0.000000
Status                              0.000000
Adult Mortality                     0.340136
infant deaths                       0.000000
Alcohol                             6.122449
percentage expenditure              0.000000
Hepatitis B                        19.387755
Measles                             0.000000
BMI                                 1.190476
under-five deaths                   0.000000
Polio                               0.850340
Total expenditure                   6.972789
Diphtheria                          0.850340
HIV/AIDS                            0.000000
GDP                                17.517007
Population                         23.129252
thinness  1-19 years                1.190476
thinness 5-9 years                  1.190476
Income composition of resources     6.122449
Schooling                           5.782313
dtype: float64